* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(22, 22, 53, 0.85);
}

.container {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  padding-right: 50px;
  gap: 200px;
}

.logo-nav {
  padding: 50px 80px;
  height: 100vh;
  background-color: rgb(29, 30, 44, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  position: relative;
}

.logo {
  p {
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
  }
  span {
    color: #fbd04d;
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  height: 100%;
}

.list {
  list-style: none;
  padding-left: 20px;
  p {
    width: 100%;
  }
}

.list-item a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
}

.list-item a:hover {
  color: #fbd04d;
}

.list-item:hover::before {
  content: "";
  width: 1px;
  border: 1px solid #fbd04d;
  background-color: #fbd04d;
  position: absolute;
  left: 0;
  height: 20px;
  border-radius: 0 5px 5px 0;
}

.main-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50%;
}

.support-list {
  padding-right: 0;
}

.support-list li {
  margin-bottom: 30px;
}

.support-list li:nth-child(2) {
  margin-bottom: 60px;
}

.copy {
  color: #51525c;
  font-size: 8px;
  text-transform: uppercase;
}

.main {
  position: relative;
  padding-right: 150px;
}

.social-media {
  background-color: #fbd04d;
  width: 15%;
  max-width: 300px;
  border-radius: 0 0 5px 5px;
  display: flex;
  justify-content: space-around;
  gap: 35px;
  padding: 10px 20px;
  position: absolute;
  right: 30%;

  img {
    width: 20px;
    height: 20px;
  }
}

.images {
  img {
    width: 200px;
    height: 120px;
    object-fit: cover;
  }
}
