* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 600px;
  margin: 50px auto;
}

.listOfCompanies {
  list-style: none;
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 10vh;
}

.listItem {
  border: 1px solid #000;
  padding: 2px;
  cursor: pointer;
  box-shadow: none;
  transition: box-shadow 0.5s ease;
}

.listItem:hover {
  box-shadow: 2px 2px 5px #000;
}

.listItem.active {
  border-bottom: 4px solid #000;
}

.companiesDescription {
  border: 2px solid #000;
  height: 50vh;
  padding: 8px;
}
