.container {
  max-width: 600px;
  margin: 10vh auto;
  background-color: cornflowerblue;
  padding: 8px 16px;
  border-radius: 8px;
}

.container > form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.container > form label {
  display: flex;
  flex-direction: column;
}
