.ratingContainer {
  background-color: cornflowerblue;
  text-align: center;
  padding: 16px;
  margin-bottom: 24px;
}

.ratingContainer > img {
  min-height: 200px;
}

.buttonsContainer {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.buttonsContainer > button {
  padding: 4px 16px;
  background-color: honeydew;
  border: 1px solid honeydew;
  border-radius: 8px;
  cursor: pointer;
}
