* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 12px;
  padding: 8px;
  border: 1px solid black;
  border-radius: 8px;
}

.form input {
  padding: 4px;
}

.form button {
  margin-top: auto;
  font-size: 18px;
}

.forms {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result {
  font-size: 24px;
}
