.main {
  padding: 64px 0;
}

.mainInner {
  display: flex;
  align-items: stretch;
  gap: 110px;
  min-width: 0;
}

@media (max-width: 1440px) {
  .mainInner {
    flex-direction: column;
    gap: 48px;
  }
}
