* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: #009579;
  font-family: sans-serif;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.pop-up-message {
  position: absolute;
  top: -50px;
  background-color: #fff;
  padding: 16px 32px;
  border-radius: 10px;
  transition: all ease 0.5s;
}

.show-message {
  top: 10px;
  transition: all ease 0.5s;
}

.form {
  background-color: #fff;
  max-width: 450px;
  width: 100%;
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  gap: 6px;
  min-width: 308px;
}

.title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 12px;
}

.input-container {
  min-height: 70px;
}

input {
  border: 1px solid #e4e4e4;
  padding: 12px;
  width: 100%;
  font-size: 16px;
  border-radius: 5px;
  letter-spacing: 0.5px;
}

input::placeholder {
  font-size: 16px;
}

.submit-btn {
  text-align: center;
}

.submit-btn > input {
  background-color: #009579;
  border: 1px solid #009579;
  color: #fff;
  font-weight: bold;
}

.submit-btn:hover {
  cursor: pointer;
}

.form-do-not-have-account {
  text-align: center;
}

.form-links {
  text-decoration: none;
  color: #009579;
}

.form-links:hover {
  color: #005546;
}

.message-text {
  font-style: italic;
}

.profile {
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 500px;
  width: 100%;
}

.logout {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.profileBtn {
  text-decoration: none;
  color: #fff;
  background-color: #009579;
  padding: 5px;
  border-radius: 5px;
}

.deleteAccountBtn {
  background-color: rgb(250, 55, 55);
}

@media screen and (max-width: 750px) {
  .container {
    padding: 10px;
  }

  .pop-up-message {
    max-width: 350px;
    width: 90%;
    top: -145px;
  }

  .show-message {
    top: 20px;
    transition: all ease 0.5s;
  }

  .form {
    padding: 16px 32px;
  }

  .profile {
    width: 100%;
  }

  .logout {
    flex-direction: column;
  }

  .profileBtn {
    text-align: center;
  }
}

@media screen and (max-width: 390px) {
}
