* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  border: 2px solid #000;
  width: 90%;
  margin: 10px auto;
  padding: 15px;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-logo > img {
  width: 213px;
  height: 60px;
}

.list {
  list-style: none;
  display: flex;
  gap: 15px;

  .list-link {
    text-decoration: none;
    color: grey;
  }
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 10px;

  .btn {
    background-color: #fff;
    border: 0;
    font-size: 16px;
  }

  input {
    height: 30px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    padding: 5px;
    width: 180px;
  }

  .sign-up {
    color: #fff;
    background-color: #6e5192;
    padding: 6px;
    border-radius: 5px;
  }

  span {
    color: grey;
  }
}
