#main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 64px 0;
  flex-grow: 1;
}

#main.mainLight {
  background-color: #c5dfe7;
}

#main.mainDark {
  background-color: #224753;
}

#main.mainDark h2,
#main.mainDark p {
  color: #cbf0f7;
}

.container {
  max-width: 500px;
  text-align: center;
}

.paragraphTitle {
  margin-bottom: 16px;
}

.text {
  text-align: left;
  margin-bottom: 24px;
}
