.configuratorWindow {
  background-color: #e4e4e4;
  padding: 25px;
  border-radius: 12px;
}

.innerContent {
  display: flex;
  align-items: flex-start;
  gap: 32px;
}

.innerContentLeft {
  flex: 0 0 320px;
}

.pizzaImage {
  width: 100%;
}

.pizzaImage > img {
  display: block;
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .innerContent {
    flex-direction: column;
  }

  .innerContentLeft {
    flex-basis: auto;
    width: 100%;
    max-width: 320px;
  }
}
