* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  /* max-width: 2560px;
  margin: 0 auto; */
}

/* ===== Utility Classes ===== */

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-white {
  color: #fff;
}

/* Buttons */
.btn {
  background-color: #00a4e5;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  background-color: #0288bd;
}

.container {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
}

/* Titles */
.section-title {
  font-size: 18px;
  text-transform: uppercase;
  color: #48555b;
  letter-spacing: 2.31px;
}

/* White background and light border*/
.card-style {
  border: 1px solid #e6e6e6;
  background-color: #fff;
}

.text-small {
  font-size: 13px;
  line-height: 23px;
  color: #48555b;
  letter-spacing: 0.2px;
}

.links {
  text-decoration: none;
  color: #fff;
}

/* =====End of utility classes===== */

/* ====================================
    HEADER
   ==================================== */

.header {
  margin-bottom: 58px;
}

.header__top {
  background: url("../images/hero_bg.jpg") no-repeat center / cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 270px;
  margin: 0 auto;
}

.header__top-logo {
  width: 7%;
}

.header__top-logo img {
  width: 100%;
}

.header__top-slogan {
  width: 40%;
  text-align: center;
}

.slogan-main {
  font-family: "Bebas Neue", sans-serif;
  font-size: 60px;
  letter-spacing: 5.71px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
}

.slogan-sub {
  font-size: 16px;
  color: #fff;
}

.header__top-scroll a {
  font-size: 11px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-decoration: none;
}

.header__top-scroll a:hover {
  color: #00a4e5;
}

.header__bottom {
  border-bottom: 1px solid #e6e6e6;
}

.header__bottom-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}

.header__bottom-nav {
  width: 44%;
}

.header__bottom-nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header__bottom-nav-links {
  color: #48555b;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.1px;
}

.header__bottom-nav-links:hover {
  color: #00a4e5;
}

/* =========================================================
   OUR STORY
========================================================= */
.our-story {
  margin-bottom: 117px;
}

.our-story-title {
  width: 15%;
  margin: 0 auto 40px;
  text-align: center;
  position: relative;
}

.our-story-title::after {
  content: "";
  width: 50px;
  position: absolute;
  border: 1px solid #00a4e5;
  left: 45px;
  top: 35px;
}

.out-story-content {
  display: grid;
  gap: 76px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.our-story-text {
  grid-row: span 5 / span 5;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 30px;
}

.main-text {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.2px;
}

.main-text span {
  color: #00a4e5;
}

.sub-text {
  font-size: 13px;
  line-height: 23px;
  color: #48555b;
  letter-spacing: 0.2px;
}

.our-story-images {
  grid-row: span 4 / span 4;
  grid-column-start: 2;
  grid-row-start: 2;
  display: flex;
  gap: 20px;
}

.our-story-images > div {
  position: relative;
  min-height: 224px;
}

.our-story-images > div:last-child::after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 2px solid #d8d8d8;
  left: 0;
  bottom: 5px;
}

.image-text {
  position: absolute;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  width: 40%;
  top: 15px;
  left: 14px;
}

/* =========================================================
   CAPABILITIES
========================================================= */
.capabilities {
  margin-bottom: 115px;
}

.capabilities-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 78px;
}

.capabilities-header-title {
  position: relative;
}

.capabilities-header-title::after {
  content: "";
  width: 48px;
  position: absolute;
  border: 1px solid #00a4e5;
  left: 0;
  top: 34px;
}

.capabilities-header-content {
  display: flex;
  gap: 31px;
  justify-content: space-between;
}

.capabilities-header-text {
  font-size: 11px;
  line-height: 19px;
  letter-spacing: 0.2px;
  color: #48555b;
  width: 100%;
  max-width: 435px;
}

.capabilities-header-button {
  background-color: #00a4e5;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 150px;
  width: 100%;
}

.capabilities-header-button:hover {
  background-color: #0288bd;
}

/* =========================================================
   CARDS
========================================================= */
.capabilities-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
}

.card {
  border: 1px solid #e6e6e6;
  background-color: #fff;
  padding: 38px 20px;
}

.card-image {
  margin-bottom: 25px;
}

.card-title {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.43px;
  color: #49555b;
  font-weight: bold;
  margin-bottom: 13px;
}

.card-text {
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.19px;
  color: #49555b;
}

/* =========================================================
   GET IN TOUCH
========================================================= */
.get-in-touch {
  background: url("../images/get-in-touch.png") bottom no-repeat;
  background-size: cover;
  height: 50vh;
}

.get-in-touch-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.get-in-touch-title {
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.15px;
  color: #48555b;
  width: 37%;
  text-align: center;
  margin-bottom: 35px;
}

.get-in-touch-btn {
  background-color: #00a4e5;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 150px;
  width: 100%;
  font-size: 13px;
  padding: 11px 26px;
}

.get-in-touch-btn:hover {
  background-color: #0288bd;
}

/* =========================================================
   NEWSLETTER
========================================================= */
.newsletter {
  padding: 30px 0;
  background-color: #171819;
}

.newsletter-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.newsletter-title {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0.85px;
  color: #fff;
}

.form {
  width: 100%;
  max-width: 400px;
  display: flex;
  justify-content: center;
}

.email-input {
  flex: 1;
  padding: 11px 16px;
  border: 1px solid #fff;
}

.submit-btn {
  background-color: #00a4e5;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 49px;
  border: 1px solid #00a4e5;
  font-size: 13px;
  letter-spacing: 0.5px;
}

.submit-btn:hover {
  background-color: #0288bd;
}

/* =========================================================
   FOOTER
========================================================= */
#footer {
  background-color: #141a20;
}

.upper-footer {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 60px;
  color: #fff;
  padding: 50px 0;
}

.upper-footer > div {
  width: 100%;
  max-width: 300px;
}

.company {
  justify-content: space-between;
}

.footer-links-nav {
  display: flex;
  gap: 34px;
}

.footer-links-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer-titles {
  font-size: 11px;
  letter-spacing: 0.85px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-logo {
  margin-bottom: 15px;
}

.footer-desctiption {
  font-size: 11px;
  line-height: 19px;
  letter-spacing: 0.85px;
}

.footer-links {
  font-size: 11px;
  line-height: 25px;
  letter-spacing: 0.85px;
  font-weight: bold;
  text-transform: uppercase;
}

.footer-links:hover {
  color: #00a4e5;
}

.upper-footer {
  align-items: stretch;
}

.upper-footer .contact-us {
  width: 100%;
  max-width: 141px;
  justify-content: space-between;
}

.upper-footer .socials {
  width: 100%;
  max-width: 87px;
  display: flex;
  justify-content: space-between;
}

.social-icons {
  color: #fff;
  margin-top: 30px;
}

.company {
  flex: 1;
}

.contact-us-content {
  gap: 13px;

  address {
    font-style: normal;
    text-indent: none;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.85px;
    margin-bottom: "Open Sans", sans-serif;
  }

  .footer-links {
    text-transform: none;
    font-weight: normal;
  }
}

.copyright {
  padding: 22px 0;
  background-color: #171819;
}

.copyright-text {
  text-align: center;
  color: #fff;
  font-size: 11px;
  letter-spacing: 0.85px;
}
