.latestJobs {
  padding: 50px 0 150px;
  background-color: #cde7ff;
  display: flex;
  flex-direction: column;
}

.latestJobsSubtitle {
  margin-top: 11px;
  font-size: 15px;
  color: #8d8d8d;
  opacity: 0.8;
}
