* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffe4c4;
  font-family: sans-serif;
}

.container {
  width: 70%;
  margin: 10vh auto;
  min-height: 80vh;
  padding: 50px;
  border-radius: 10px;
}

#form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.input {
  padding: 5px 15px;
  border-radius: 5px;
  border: 1px solid transparent;
}

.noteTitle {
  flex-grow: 1;
}

.saveNote {
  background-color: #4c8bf5;
  border: 1px solid #4c8bf5;
  cursor: pointer;
}

.notesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.note {
  background-color: #f5f5f5;
  padding: 5px;
  width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  padding: 10px;
  font-size: 15px;
  min-height: 150px;
  border-radius: 10px;
  flex: 1 1 200px;
}

.notesContainer p {
  font-style: italic;
}
