.aside {
  padding: 12px 8px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: 100%;
  max-width: 270px;
  border-radius: 12px 0 0 12px;
  background-color: cadetblue;
}

.logo {
  text-align: center;
}

.bottomAside {
  margin-top: auto;
}
