* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#registerForm {
  margin: 10vh auto;
  display: flex;
  flex-direction: column;
  max-width: 320px;
  padding: 20px;
  gap: 15px;
  justify-content: center;
  align-items: center;
  background-color: rgb(254, 228, 191);
  border-radius: 10px;
}

#registerForm > h1 {
  font-size: 28px;
}
