* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100dvh;
  font-family: sans-serif;
  background-color: #000;
}

.container {
  max-width: 800px;
  padding: 0 16px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.create-post-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 1px solid #787a7a;
  border-top: none;
  padding: inherit;
  padding-top: 16px;
}

.post-text-input > textarea {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  field-sizing: content;
  resize: none;
  min-height: 80px;
  max-height: 160px;
  background-color: #000;
  border: none;
}

#upload-photo {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.upload-photo {
  cursor: pointer;
  color: #319bf0;
}

.custom-file-input {
  cursor: pointer;
}

.bottom-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}

.postBtn {
  padding: 0px 16px;
  background-color: #787a7a;
  font-size: 16px;
  border: 1px solid #787a7a;
  border-radius: 24px;
  font-weight: bold;
  line-height: 34px;
}

.posts-list {
  list-style-type: none;
}

.post-list-item {
  color: #fff;
  border: 1px solid #787a7a;
  border-top: none;
  padding: 16px;
}

.post-author-name {
  margin-bottom: 8px;
}

.post-body {
  margin-bottom: 8px;
}

.comments {
  display: flex;
  align-items: center;
  gap: 4px;
}

.number-of-comments {
  font-size: 14px;
}

.comments-list {
  padding: 16px;
  list-style: none;
}

.comment-icon {
  cursor: pointer;
  width: 16px;
  height: 16px;
  line-height: 16px;
  margin-right: 4px;
}

.comment-icon:last-child {
  margin: 0;
}

.comments-modal-window {
  position: fixed;
  bottom: 0;
  height: 80vh;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  background-color: #aeabab;
}

.hidden {
  display: none;
}

.comments-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.comments-modal-title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.comment-author {
  font-size: 16px;
  margin-right: 16px;
}

.author-email {
  font-size: 12px;
}

.comment-name {
  margin: 8px 0;
}
