* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
}

header {
  background-color: #323232;
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 390px) {
  header {
    display: none;
  }
}

.header-text {
  color: #fff;
  padding: 16px 40px;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 1.3px;
  text-transform: uppercase;
}

.header-text__divider::before {
  content: "";
  display: inline-block;
  position: relative;
  top: 2px;
  width: 1px;
  height: 13px;
  background: #fff;
  margin: 0 8px;
}

.header-location {
  background-color: #ff3c00;
}

.hero {
  background-image: url("../images/image.jpg");
  padding: 160px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 80px;
  align-items: center;
}

.hero__title {
  grid-column: 1/3;
  font-size: 80px;
  text-transform: uppercase;
  line-height: 80px;
}

.hero-content__text {
  grid-row: 2/3;
  font-size: 21px;
}

.hero-content__text p {
  margin-bottom: 24px;
  line-height: 32px;
}

.hero-content__text p:last-of-type {
  margin-bottom: 48px;
}

.hero-content__logo {
  grid-row: 2/3;
}

.hero__get-updates {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background-color: #323232;
  padding: 16px 32px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
}

.hero__get-updates:hover {
  background-color: #292828;
}

.cookie-banner {
  position: fixed;
  bottom: 0;
  background-color: #fff;
  z-index: 10;
  display: flex;
  align-items: center;
  padding: 22px 0 10px 32px;
  gap: 100px;
}

.cookie-banner {
  width: 100%;
}

.cookie-content {
  max-width: 1000px;
}

.cookie-settings {
  margin-right: 32px;
}

.cookie-btn {
  background-color: #324fbe;
  border: 1px solid #324fbe;
  color: #fff;
  padding: 12px 32px;
  margin-right: 16px;
  cursor: pointer;
}

.cookie-btn:last-of-type {
  margin-right: 0;
}

.cookie-link {
  color: #3c3c3c;
  border: 1px solid #000;
}

@media screen and (max-width: 390px) {
  .cookie-banner {
    flex-direction: column;
    gap: 10px;
    padding: 48px 20px 16px;
  }

  .cookie-title {
    font-size: 16px;
  }

  .cookie-title::after {
    content: " on hotjar.com";
  }

  .cookie-description {
    font-size: 12px;
  }

  .cookie-settings {
    font-size: 12px;
    letter-spacing: 0.15px;
    color: #324fbe;
  }

  .cookie-actions {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
  }

  .cookie-settings {
    display: block;
  }

  .cookie-btn {
    display: block;
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 390px) {
  header {
    display: none;
  }

  .hero {
    padding: 80px 0;
    background-image: url("../images/image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .hero-content {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 30px;
    padding: 0 12px;
    align-items: start;
    padding-bottom: 130px;
  }

  .hero__title {
    grid-column: 1;
    font-size: 32px;
    line-height: 32px;
    padding-right: 70px;
  }

  .hero-content__text {
    grid-row: auto;
    font-size: 16px;
    line-height: 1.5;
  }

  .hero-content__logo {
    grid-row: auto;
    order: -1;
  }

  .hero-content__logo img {
    width: 40%;
    height: auto;
  }

  .hero__get-updates {
    display: inline-block;
    margin: 16px auto 0;
    font-size: 14px;
    padding: 12px 24px;
  }
}

.subscribe-content {
  background-image: url("../images/cta-purple-bg.jpg.png");
  padding: 40px 72px;
  background-size: cover;
  border-radius: 16px;
  display: flex;
  align-items: center;
  position: relative;
  bottom: 88px;
  margin-bottom: 64px;
}

.subscribe__title {
  font-size: 48px;
  line-height: 50px;
  color: #fff;
  max-width: 600px;
  text-transform: uppercase;
}

.subscribe__btn {
  margin-left: auto;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background-color: #323232;
  padding: 24px 48px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
}

.subscribe__btn:hover {
  background-color: #292828;
}

@media (max-width: 390px) {
  .subscribe {
    padding: 0 24px;
  }
  .subscribe-content {
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 48px;
    gap: 16px;
    bottom: 150px;
    margin-bottom: 0;
  }

  .subscribe__title {
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    padding: 0 20px;
  }

  .subscribe__btn {
    margin: 0;
    padding: 32px 72px;
    text-align: center;
    font-size: 18px;
    line-height: 32px;
  }
}

.our-speaker__title {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 56px;
  background-color: #fff;
}

.our-speakers {
  background-color: #f5f5f5;
}

.our-speaker__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding-top: 60px;
}

.speaker-card {
  min-height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-column-start {
  justify-content: start;
}

.flex-column-center {
  justify-content: center;
}

.flex-column-end {
  justify-content: end;
}

.speaker-card__image {
  margin-bottom: 24px;
}

.speaker-card__title {
  font-size: 26px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 32px;
  margin-bottom: 16px;
  max-width: 300px;
  text-align: center;
}

.speaker-card__text {
  font-size: 18px;
}

.speaker-card__text:nth-last-child(2) {
  color: #ff3c00;
  margin-bottom: 48px;
}

.speaker-card__link {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #212529;
}

@media (max-width: 390px) {
  .our-speaker__content {
    grid-template-columns: 1fr;
    gap: 72px;
  }

  .our-speaker__title {
    padding: 0 48px;
    font-size: 35px;
    padding-bottom: 40px;
  }

  .speaker-card {
    justify-content: start;
    gap: 0;
    min-height: 0;
  }
}
