* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.frame {
  width: 500px;
  height: 500px;
  overflow: hidden;
  position: relative;
}

.cards {
  display: grid;
  grid-auto-flow: column;
  position: absolute;
  left: 0;
  transition: left 0.5s ease;
}

.card {
  width: 500px;
  height: 500px;
  background-size: cover;
  background-position: center;
}

.triggers {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.triggers > button {
  width: 50px;
  font-size: 40px;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  color: #fff;
  opacity: 0;
  transition: opacity 0.5s;
  cursor: pointer;
}

.triggers > button:hover {
  opacity: 1;
}

.rounds {
  position: absolute;
  z-index: 10;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
}

.rounds > button {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #000;
  cursor: pointer;
}

.active {
  background-color: orange;
}
