.seatList {
  list-style: none;
  padding: 0;
  margin: 30px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));
  gap: 15px;
}

.seatList li {
  padding: 14px 0;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}

.notSelectedSeat {
  background-color: #3a3a55;
}

.notSelectedSeat:hover {
  background-color: #50507a;
}

.selectedSeat {
  background-color: #2ecc71;
  color: #111;
}

.selectedSeat:hover {
  background-color: #27ae60;
}

p {
  margin-top: 20px;
  font-size: 16px;
}
