.seatList {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0;
  width: 100%;
}

.seatList li {
  padding: 8px 16px;
  border-radius: 12px;
  cursor: pointer;
}

.selectedSeat {
  background-color: green;
}

.notSelectedSeat {
  background-color: gray;
}
