* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #483d8a;
  font-family: sans-serif;
}

form {
  width: 100%;
  max-width: 350px;
  padding: 15px;
  background-color: #008a8a;
  margin: 10vh auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 30px;

  input {
    padding: 5px;
    border-radius: 7px;
    border: 1px solid #fff;
  }

  label {
    color: #fff;
    font-size: 14px;
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.name {
  display: flex;
  gap: 10px;

  input {
    width: 100%;
  }
}

.checkbox-input {
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  input {
    margin-right: 10px;
  }

  label {
    font-size: 18px;
  }
}

.form-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  input {
    width: 100%;
    cursor: pointer;
  }
}

.form-success {
  display: none;
}

.active {
  display: block;
  text-align: center;
  color: #fff;
}

.error {
  color: #c88685;
  font-size: 14px;
}
