.button {
  background-color: purple;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 24px;
}

.button:hover {
  background-color: magenta;
}
