* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Playwrite DE SAS", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 10vh auto;
  background-color: #fec0ca;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-color: #86cdea;
  border-radius: 50%;
  width: 4dvh;
  height: 40px;
}
