* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
}

header {
  background-color: #323232;
  display: flex;
  justify-content: flex-end;
}

.header-text {
  color: #fff;
  padding: 16px 40px;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 1.3px;
  text-transform: uppercase;
}

.header-text__divider::before {
  content: "";
  display: inline-block;
  position: relative;
  top: 2px;
  width: 1px;
  height: 13px;
  background: #fff;
  margin: 0 8px;
}

.header-location {
  background-color: #ff3c00;
}

#hero {
  background-image: url("../images/image.jpg");
  padding: 160px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 80px;
  align-items: center;
}

.hero__title {
  grid-column: 1/3;
  font-size: 80px;
  text-transform: uppercase;
  line-height: 80px;
}

.hero-content__text {
  grid-row: 2/3;
  font-size: 21px;
}

.hero-content__text p {
  margin-bottom: 24px;
  line-height: 32px;
}

.hero-content__text p:last-of-type {
  margin-bottom: 48px;
}

.hero-content__logo {
  grid-row: 2/3;
}

.hero__get-updates {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background-color: #323232;
  padding: 16px 32px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
}

.hero__get-updates:hover {
  background-color: #292828;
}

.cookie-banner {
  position: fixed;
  bottom: 0;
  background-color: #fff;
  z-index: 10;
  display: flex;
  align-items: center;
  padding: 22px 0 10px 32px;
}

.cookie-btn {
  background-color: #324fbe;
  border: 1px solid #324fbe;
  color: #fff;
  padding: 12px 24px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 12px;
}

.cookie-btn:last-of-type {
  margin-right: 0;
}

.cookie-link {
  color: #3c3c3c;
  border: 1px solid #000;
}

.cookie-actions {
  width: 100%;
  gap: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cookie-description {
  flex-shrink: 1;
}

.subscribe-content {
  background-image: url("../images/cta-purple-bg.jpg.png");
  padding: 40px 72px;
  background-size: cover;
  border-radius: 16px;
  display: flex;
  align-items: center;
  position: relative;
  bottom: 88px;
  margin-bottom: 64px;
}

.subscribe__title {
  font-size: 48px;
  line-height: 50px;
  color: #fff;
  max-width: 600px;
  text-transform: uppercase;
}

.subscribe__btn {
  margin-left: auto;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background-color: #323232;
  padding: 24px 48px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
}

.subscribe__btn:hover {
  background-color: #292828;
}

.our-speaker__title {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 56px;
  background-color: #fff;
}

#our-speakers {
  background-color: #f5f5f5;
}
.our-speaker__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  padding-top: 60px;
  padding-bottom: 160px;
}

.speaker-card {
  min-height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-column-start {
  justify-content: start;
}

.flex-column-center {
  justify-content: center;
}

.flex-column-end {
  justify-content: end;
}

.speaker-card__image {
  margin-bottom: 24px;
}

.speaker-card__image img {
  width: 100%;
}

.speaker-card__title {
  font-size: 26px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 32px;
  margin-bottom: 16px;
  max-width: 300px;
  text-align: center;
}

.speaker-card__text {
  font-size: 18px;
}

.speaker-card__text:nth-last-child(2) {
  color: #ff3c00;
  margin-bottom: 48px;
}

.speaker-card__link {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #212529;
}

#tickets-slogan {
  background-color: #fbdb3c;
}

.tickets-content {
  padding: 160px 0;
}

.ticket-wrapper {
  padding: 0 50px;
}

.slogan-and-logo {
  display: flex;
  align-items: center;
  gap: 120px;
  margin-bottom: 80px;
}

.slogan-and-logo img {
  width: 100%;
}

.ticket {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  width: 100%;
  margin-bottom: 24px;
  min-height: 220px;
}

.ticket:nth-last-of-type {
  margin-bottom: 0;
}

.ticket::after {
  display: none;
  content: url("../images/stub-end-mobile-grey.svg.svg");
  position: absolute;
  bottom: -12px;
}

.ticket::before {
  display: none;
  content: url("../images/ticket-before-mobile.svg");
  position: absolute;
  top: -12px;
}

.ticket-before {
  display: none;
}

.ticket-after {
  width: 100%;
  display: none;
  background-color: #fbdb3c;
  position: relative;
}

.ticket-after img {
  width: 100%;
  position: absolute;
  top: 0;
}

.ticket-info {
  padding: 40px 64px;
  display: flex;
  align-items: center;
  position: relative;
}

.ticket-info::before {
  content: url("../images/ticket-before.svg");
  left: -15px;
  position: absolute;
}

.ticket-price {
  padding-right: 64px;
  font-size: 48px;
  font-weight: bold;
  line-height: 90px;
}

.ticket-group {
  border-left: 1px solid #212529;
  position: relative;
  padding: 20px 60px;
  min-height: 145px;
}

.ticket-group p {
  font-size: 24px;
  color: #a6a8a9;
}

.ticket-group p:nth-child(2) {
  font-weight: bold;
  margin-bottom: 24px;
}

.ticket-group p:last-child {
  font-size: 16px;
  color: #d2c7f9;
}

.ticket-group p.ticket-group-general {
  color: #a6a8a9;
  font-size: 24px;
}

.ticket-group.general {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ticket-group::after {
  content: url("../images/ticket-divider.svg");
  position: absolute;
  width: 9px;
  height: 9px;
  left: -5px;
  bottom: 0;
}

.ticket-group::before {
  content: url("../images/ticket-divider.svg");
  position: absolute;
  width: 9px;
  height: 9px;
  left: -5px;
  top: -10px;
}

.ticket-availability {
  max-width: 300px;
  padding: 40px 80px 30px;
  background-color: #cccccc;
  color: #fff;
  text-transform: uppercase;
  font-size: 48px;
  text-align: center;
  font-weight: bold;
  line-height: 50px;
  display: flex;
  align-items: center;
  position: relative;
}

.ticket-availability::after {
  content: url("../images/ticket-after.svg");
  right: -10px;
  top: 2px;
  position: absolute;
}

#conference-values {
  background-color: #323232;
}

.conference-content {
  display: flex;
  padding-top: 120px;
  gap: 40px;
  align-items: center;
  margin-bottom: 40px;
}

.conference-content:last-child {
  padding: 0;
  margin-bottom: 0;
  flex-direction: row-reverse;
  padding-bottom: 160px;
}

.conference-content {
  color: #fff;
}

.conference-title {
  font-size: 64px;
  width: 60%;
  line-height: 64px;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.conference-text {
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 24px;
}

.conference-text:last-child {
  margin-bottom: 0;
}

#reasons-to-attend {
  background: #eaeaea;
  padding: 80px 0;
}

.section-title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 60px;
}

.reason {
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
  gap: 10px;
  align-items: stretch;
}

.reason:last-child {
  margin-bottom: 0;
}

.reason + .reverse {
  flex-direction: row-reverse;
}

.reason-content {
  background-image: url("../images/reason-1-bg.svg");
  background-repeat: no-repeat;
  background-position-y: 0;
  background-position-x: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  max-width: 630px;
}

.reason:nth-of-type(2) > .reason-content {
  background-image: url("../images/reason-2-bg.svg");
}

.reason:last-child > .reason-content {
  background-image: url("../images/reason-3-bg.svg");
}

.reason-title {
  font-size: 48px;
  margin-bottom: 10px;
  line-height: 48px;
  text-transform: uppercase;
}

.reason-text {
  color: #323232;
  line-height: 30px;
  font-size: 16px;
  max-width: 600px;
}

.reason-image > img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

#endless-insights {
  background-color: #323232;
  color: #fff;
  padding: 100px 0;
  text-align: center;
  font-family: "Inter", sans-serif;
}

.insights-title {
  text-transform: uppercase;
  font-size: 64px;
  line-height: 64px;
  margin-bottom: 80px;
}

.insights-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
  flex-wrap: wrap;
}

.insight {
  max-width: 320px;
}

.insight-icon {
  width: 80px;
  margin-bottom: 24px;
}

.insight-title {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 12px;
  font-size: 18px;
}

.insight-text {
  font-size: 15px;
  line-height: 24px;
  color: #ccc;
}

#FAQ {
  background-color: #e2e2e2;
  padding: 160px 0;
}

.faq-title {
  text-align: center;
  font-size: 48px;
  line-height: 48px;
  margin-bottom: 56px;
}

.faq-list {
  list-style: none;
}

.faq-list__item {
  padding: 48px;
  background-color: #bebebe;
  border-radius: 15px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.faq-list__item--expanded {
  gap: 20px;
}

.faq-title-and-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.faq-title-and-button > h3 {
  width: 80%;
}

.faq-item-title {
  font-size: 24px;
  line-height: 24px;
}

.faq-item-text {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: height 300ms;
  font-size: 16px;
  line-height: 32px;
  width: 100%;
}

.faq-button-down {
  background-image: url("../images/FAQ-button-down.svg");
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
}

.faq-button-up {
  background-image: url("../images/FAQ-button-up.svg");
  background-repeat: no-repeat;
}

.faq-list {
  padding: 0 24px;
}

.faq-list__item--expanded {
  background-color: #fff;
}

.faq-list__item--expanded > .faq-item-text {
  max-height: 1000px;
  opacity: 1;
  transition: height 300ms linear, opacity 0.5s;
}

@media screen and (max-width: 975px) {
  .slogan-and-logo {
    gap: 0;
    margin-bottom: 32px;
  }

  .slogan-and-logo .logo {
    display: none;
  }

  .ticket-wrapper {
    padding: 0 10px;
    margin-bottom: 50px;
  }

  .tickets-content {
    padding: 80px 0;
  }

  .ticket-wrapper:last-child {
    margin-bottom: 0;
  }

  .ticket {
    flex-direction: column;
    align-items: center;
  }

  .ticket-before {
    display: block;
    position: absolute;
    width: 100%;
    top: -13px;
  }

  .ticket-before img {
    width: 100%;
  }

  .ticket-after {
    display: block;
    position: absolute;
    bottom: 0;
  }

  .ticket-info {
    padding: 0;
    flex-direction: column;
    border-left: none;
    width: 90%;
  }

  .ticket-info::before {
    display: none;
  }

  .ticket-price {
    padding: 0;
    font-size: 40px;
  }

  .ticket-group {
    width: 90%;
    border-left: none;
    border-top: 1px solid #e2e2e2;
    text-align: center;
    padding: 30px 0 45px;
  }

  .ticket-group p {
    font-size: 24px;
  }

  .ticket-availability {
    width: 100%;
    display: block;
    font-size: 32px;
    max-width: none;
    padding: 20px 0;
  }

  .ticket-availability::after {
    display: none;
  }

  .ticket-group::after {
    left: 100%;
    top: -10px;
  }

  .ticket-group::before {
    left: -9px;
    top: -10px;
  }
}

@media (max-width: 900px) {
  /* Header */
  header {
    display: none;
  }

  /* Cookie banner */
  .cookie-banner {
    flex-direction: column;
    gap: 10px;
    padding: 48px 20px 16px;
  }

  .cookie-title {
    font-size: 16px;
  }

  .cookie-title::after {
    content: " on hotjar.com";
  }

  .cookie-description {
    font-size: 12px;
  }

  .cookie-settings {
    font-size: 12px;
    letter-spacing: 0.15px;
    color: #324fbe;
  }

  .cookie-actions {
    flex-direction: column;
    gap: 16px;
  }

  .cookie-settings {
    display: block;
  }

  .cookie-btn {
    display: block;
    width: 100%;
    margin: 0;
  }

  /* Hero */
  .hero {
    padding: 80px 0;
    background-image: url("../images/image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .hero-content {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 30px;
    padding: 0 12px;
    align-items: start;
    padding-bottom: 130px;
  }

  .hero__title {
    grid-column: 1;
    font-size: 32px;
    line-height: 32px;
    padding-right: 70px;
  }

  .hero-content__text {
    grid-row: auto;
    font-size: 16px;
    line-height: 1.5;
  }

  .hero-content__logo {
    grid-row: auto;
    order: -1;
  }

  .hero-content__logo img {
    width: 40%;
    height: auto;
  }

  .hero__get-updates {
    display: inline-block;
    margin: 16px auto 0;
    font-size: 14px;
    padding: 12px 24px;
  }

  /* Subscribe */
  #subscribe {
    padding: 0 24px;
  }

  .subscribe-content {
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 48px;
    gap: 16px;
    bottom: 150px;
    margin-bottom: 0;
  }

  .subscribe__title {
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    padding: 0 20px;
  }

  .subscribe__btn {
    margin: 0;
    padding: 32px 72px;
    text-align: center;
    font-size: 18px;
    line-height: 32px;
  }

  /* Speakers */
  .our-speaker__content {
    grid-template-columns: 1fr;
    gap: 72px;
  }

  .our-speaker__title {
    padding: 0 48px;
    font-size: 35px;
    padding-bottom: 40px;
  }

  .speaker-card {
    justify-content: start;
    gap: 0;
    min-height: 0;
  }

  /* Conference */
  .conference-content {
    flex-direction: column-reverse;
    padding: 80px 24px 0;
  }

  .conference-content:last-child {
    flex-direction: column-reverse;
    padding: 0 24px 80px;
  }

  .conference-image img {
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
  }

  .conference-title {
    font-size: 32px;
    width: 60%;
    line-height: 32px;
    margin-bottom: 32px;
  }

  .conference-text {
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 24px;
  }

  /* Reasons */
  .reason {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 80px;
    padding: 0 24px;
  }

  .reason.reverse {
    flex-direction: column;
  }

  .reason-content {
    background-size: 230px;
    background-position: top right;
    padding-top: 120px;
  }

  .reason-title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 12px;
  }

  .reason-text {
    font-size: 14px;
    line-height: 22px;
  }

  .reason-image {
    width: 100%;
    max-width: 100%;
    border-radius: 6px;
  }

  /* FAQ */
  .faq-item-title {
    font-size: 16px;
    line-height: 24px;
  }

  .faq-list__item {
    padding: 32px 24px;
  }
}

@media (max-width: 768px) {
  .insights-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }

  .insight {
    max-width: 90%;
  }

  .insights-title {
    font-size: 24px;
    margin-bottom: 40px;
  }
}

/* ---- max-width: 390px ---- */
@media screen and (max-width: 390px) {
  header {
    display: none;
  }
}
