* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  max-width: 250px;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  margin: 10vh auto;
  padding: 16px;
  border-radius: 10px;
  gap: 13px;
}

label {
  display: flex;
  flex-direction: column;
}

input {
  padding: 4px;
  border: 1px solid #fff;
  border-radius: 5px;
}

.submit {
  width: 30%;
  margin: 0 auto;
  cursor: pointer;
  border: 1px solid #eeeeee;
}
