@use "../variables/mixins";
@use "../variables/colors";
@use "../variables/spacing";
@use "../variables/radius";

.filter-buttons {
  display: flex;
  border: 1px solid colors.$gray;
  @include mixins.rounded(radius.$radius-pill);
  overflow: hidden;
  position: relative;
}

.filter-button {
  flex: 1;
  padding: spacing.$space-8 0;
  background-color: colors.$bg;
  @include mixins.text16;
  text-align: center;
  cursor: pointer;
  border: none;
  position: relative;
}

.filter-button.active {
  background-color: colors.$primaryLight;
}

.filter-button:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: colors.$gray;
}
