.search {
  display: flex;
  align-items: stretch;
  background: #ffffff;
  overflow: hidden;
  height: 72px;
  max-width: 1120px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 20;
}

.group {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 20px;
  flex: 1;
}

.icon {
  font-size: 18px;
}

.icon:first-child {
  transform: translateY(-2px);
}

.input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 14px;
  color: #1f2d3d;
  font-size: 18px;
}

.input::placeholder {
  font-size: 18px;
  color: #000;
}

.divider {
  width: 1px;
  height: 20px;
  background: #e6eef6;
  align-self: center;
}

.button {
  width: 200px;
  border: none;
  background: #263a4d;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

/* ===== адаптив ===== */

@media (max-width: 768px) {
  .search {
    flex-direction: column;
    height: auto;
  }

  .divider {
    width: 100%;
    height: 1px;
  }

  .group {
    padding: 16px;
  }

  .button {
    width: 100%;
    height: 56px;
  }
}
